.container {
  display: flex;
  justify-content: center;
  background-color: rgb(185, 247, 247);
}
h2, h1 {
  text-transform: uppercase;
  color:rgb(220, 102, 250);
}
.btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid whitesmoke;
  color: rgb(6, 112, 112);
  font-size: 20px;
}
button {
  padding: 15px;
  margin: 15px;
  border: 1px solid whitesmoke;
  color: rgb(158, 2, 119);
  font-size: 25px;
  margin-top: 20px;
}
p {
  font-size: 20px;
  text-align: center;
  color: rgb(93, 93, 94);
  width: 30%;
}
.btn-show {
  padding: 0px;
  margin: 0px;
  border: none;
  color: rgb(6, 112, 112);
  font-size: 20px;
  margin-top: 0px;
  background:none;
}
.btn-show:hover {
  cursor: pointer;
}

